<launch>
  <arg name="map_file" default="$(find navegacion_itab)/map/map_itab.yaml"/>
  <arg name="move_forward_only" default="false"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch"/>
  
  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
  </group>
</launch>